{% extends 'base.html' %}
{% block title %}Добавление комментария{% endblock %}
{% block header %}Добавление комментария{% endblock %}

{% block content %}

    {% load user_filters %}
    {% if user.is_authenticated %}

        {% if form.errors %}
            {% for error in form.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error|escape }}
                </div>
            {% endfor %}

        {% endif %}

        <div class="card my-4">
            <form method="post"
                  action="{% url 'add_comment' post.author.username post.id %}"
            >
                {% csrf_token %}
                <h5 class="card-header">Добавить комментарий:</h5>
                <div class="card-body">
                    <form>
                        <div class="form-group">
                            {{ form.text|addclass:"form-control" }}
                        </div>
                        <button type="submit" class="btn btn-primary">Отправить</button>
                    </form>
                </div>
            </form>
        </div>
    {% endif %}

    Комментарии:

    {% for comment in comments %}
        <div class="media mb-4">
            <div class="media-body">
                <h5 class="mt-0">
                    <a
                            href="{% url 'profile' comment.author.username %}"
                            name="comment_{{ comment.id }}"
                    >{{ comment.author.username }}</a>
                </h5>
                {{ comment.text }}
            </div>
        </div>
    {% endfor %}

{% endblock %}