{% extends 'base.html' %}
{% block title %}Просмотр поста{% endblock %}
{% block header %}Просмотр поста{% endblock %}
{% block content %}

    <main role="main" class="container">
        <div class="row">
            {% include 'userprofile.html' with author=author posts_count=posts.count %}

            <ul class="list-group list-group-flush">
                <li class="list-group-item"> {% include 'one_post.html' with  posts_count=posts.count %}</li>
                <li class="list-group-item">
                    <div class="card-body">
                        <div class="card mb-3 mt-1 shadow-sm">
                            {% load user_filters %}

                            {% if user.is_authenticated %}
                                <div class="card my-4">
                                    <form
                                            action="{% url 'add_comment' post.author.username post.id %}"
                                            method="post">
                                        {% csrf_token %}
                                        <h5 class="card-header">Добавить комментарий:</h5>
                                        <div class="card-body">
                                            <form>
                                                <div class="form-group">
                                                    {{ form.text|addclass:"form-control" }}
                                                </div>
                                                <button type="submit" class="btn btn-primary">Отправить</button>
                                            </form>
                                        </div>
                                    </form>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </li>

                <li class="list-group-item">
                    <div class="card-body">
                        <div class="card mb-3 mt-1 shadow-sm">
                            Комментарии:
                            {% for comment in comments %}
                                <div class="media mb-4">
                                    <div class="media-body">
                                        <h5 class="mt-0">
                                            <a
                                                    href="{% url 'profile' comment.author.username %}"
                                                    name="comment_{{ comment.id }}"
                                            >{{ comment.author.username }}</a>
                                        </h5>
                                        {{ comment.text }}
                                    </div>
                                </div>
                            {% endfor %}
                </li>
            </ul>
        </div>

    </main>

{% endblock %}
