{% extends 'base.html' %}
{% block title %}Просмотр поста{% endblock %}
{% block header %}Просмотр поста{% endblock %}
{% block content %}

    <main role="main" class="container">
        <div class="row">
            {% include 'include/userprofile.html' with author=author posts_count=posts.count %}
            <ul class="list-group list-group-flush">
                <li class="list-group-item"> {% include 'include/one_post.html' with  posts_count=posts.count %}</li>
                <li class="list-group-item">
                    <div class="card-body">
                        <div class="card mb-3 mt-1 shadow-sm">
                            {% include 'include/comments.html' with form=form comment=post.comments.select_related %}
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </main>
{% endblock %}
